

{% extends 'base.html' %}


{% block page %}







<div class="container">
  <h1>Places to go:</h1>
  <div class="row">
    {% for place in places %}
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/media/{{ place.image }}" alt="Card image cap">
  <div class="card-body">

    <h5 class="card-title"><a href="{% url 'place_detail' place.id%}">{{ place.title }}</a></h5>
    <p class="card-text">{{ place.description }}</p>
    <a href="{% url 'place_detail' place.id %}" class="btn btn-primary">Learn More</a>
  </div>
</div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
